<div 
  class="col-md-4"
  {% if url %}
    onclick="location.href='{{ url }}';"
  {% endif %}
>
  <div class="card card-widget widget-user-2">
    <div class="widget-user-header bg-{{bg_color}} text-center">
      <div class="widget-icon">
        <i class="fas fa-industry"></i>
      </div>
      <h3 class="">{{ title }}</h3>
      <h5 class="">{{ subtitle }}</h5>
    </div>
    <div class="card-footer p-0">
      <ul class="nav flex-column">
        <li class="nav-item">
          <span href="#" class="nav-link">
            Projects <span class="float-right badge bg-primary">31</span>
          </span>
        </li>
        <li class="nav-item">
          <span href="#" class="nav-link">
            Tasks <span class="float-right badge bg-info">5</span>
          </span>
        </li>
        <li class="nav-item">
          <span href="#" class="nav-link">
            Completed Projects <span class="float-right badge bg-success">12</span>
          </span>
        </li>
        <li class="nav-item">
          <span href="#" class="nav-link">
            Followers <span class="float-right badge bg-danger">842</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
